.chat-tab {
    cursor: pointer;
    border-bottom: 1px solid rgb(60, 69, 87);
}

// styles when the tab is selected
.chat-tab-selected {
    color: rgb(221, 214, 254);
    border-bottom: 1px solid rgb(221, 214, 254);
}