// #menu {
//     display: none;
// }

// #menubutton:focus + #menu, #menu:hover, #menu:focus-within { //, #menu:hover, #menu:hover > li, #menu:focus, #menu:focus > li {
//     display: block;
// }

.settings-menu-blur {
    background-color: rgba(0, 0, 0, 0.61);
    // background-color: rgb(20, 24, 31);
    backdrop-filter: blur(5px);
}

.settings-menu-window {
    background-color: rgb(20, 24, 31);
}