.tab-close {
    cursor: pointer;
}

// styles when the tab is selected/active
.tab-active {
    color: rgb(221, 214, 254);
    border-bottom: 1px solid rgb(221, 214, 254);
    background-color: 1px solid gray;
}
