<div class="absolute right-0 z-30 text-sm">
    <div>
        <ul *ngIf="this.users.length !== 0"
            class="group-chat-dropdown chat-scrollbar overflow-y-auto w-fit max-h-32 px-2 pb-2 border border-t-2 border-r-0 border-violet-200 rounded-b-lg rounded-r-none">
            <div *ngFor="let user of users"
                class="group-chat-hr w-full flex flex-row justify-between space-x-2 py-1">
                <li title="User: {{user.display_name}}" class="mr-2 hover:text-violet-200">
                    {{user.display_name}}
                </li>
                <button *ngIf="groupChatCreatedBy === currentUserId" type="button" (click)="onRemoveParticipant(user)"
                    class="px-2 fa-solid fa-xmark text-red-300 border border-red-300 rounded-full hover:bg-red-900"></button>
            </div>
        </ul>
    </div>
</div>