<div class="px-4 py-4 h-[95vh] w-full flex">
    <div class="flex-auto ml-auto w-28 max-w-[10rem] h-2/3 border border-yellow-200 px-2 mr-4 text-xs sm:text-base">
        <div>
            <p class="break-words whitespace-nowrap text-ellipsis overflow-hidden">chats</p>
        </div>
    </div>
    <div class="flex-auto mr-auto max-w-full h-2/3 border border-emerald-200 px-2 text-xs sm:text-base">
        <div>
            <p class="break-words whitespace-nowrap text-ellipsis overflow-hidden">Test 1</p>
            <p>Test 2</p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<!-- min-w-min -->