<app-header (logOutEvent)="logout()" (applySettingsPassthroughEvent)="applySettings($event)"></app-header>
<audio id="audioPlaybackElement" autoplay="true" controls="false" class="bg-red-400"></audio>

<div class="chat flex flex-auto flex-col sm:flex-row w-full h-[85vh] min-h-[480px] sm:space-x-6 p-4 pt-4">
    <!-- this container will have a min-height of 120px, as the parent container is 480px and the child component below 320px - (minus) paddings, etc. pp. -->
    <div
        class="chat-tabs chat-scrollbar flex-auto min-w-[240px] overflow-y-auto text-xs md:text-base border-2 border-gray-700">
        <app-chat-tabs (loadChat)="displayChat($event)" [filterOutEmpty1on1Chats]="userSettings?.filter === 'filter'">
        </app-chat-tabs>
    </div>
    <div class="relative flex flex-col w-full min-w-[240px] min-h-[320px] mt-2 sm:mt-0 border-2 border-gray-700">
        <div class="chat-content-header border-b-2 border-gray-700">
            <div id="chatHeader">
                <div *ngIf="this.chatroom" class="flex flex-row justify-between h-full text-base">
                    <p class="whitespace-nowrap text-ellipsis overflow-hidden px-2"
                        title="{{chatroom.chatrooms.isgroup ? 'Chatting in: ' + chatroom.chatrooms.name : 'Chatting with: ' + chatroom.chatrooms.participants[0].users.display_name}}">
                        {{chatroom.chatrooms.isgroup ? chatroom.chatrooms.name :
                        chatroom.chatrooms.participants[0].users.display_name}}
                    </p>
                    <div id="chatHeaderNavBarButtons">
                        <div *ngIf="!chatroom.chatrooms.isgroup" class="flex gap-x-2 px-2 h-full">
                            <button type="button" (click)="showAudioDeviceSelection()" title="Voice Chat" class="fa-solid fa-phone text-violet-200 hover:text-violet-400"></button>
                            <div id="audioDeviceSelection" *ngIf="this.audioDevices.length !== 0">
                                <select #audioDeviceSelectElement id="audioDeviceSelectElement" title="Selected Audio Input Device" class="h-full max-w-[240px] bg-transparent border-0 text-ellipsis whitespace-nowrap overflow-hidden">
                                    <option *ngFor="let device of this.audioDevices" value="{{device.deviceId}}" class="bg-gray-800 border-0">{{device.label ? device.label : "Standard Audio Device"}}</option>
                                </select>
                                <!-- <button type="button" (click)="initiateAudioCall()" class="h-full px-2 hover:bg-gray-600"> -->
                                <button type="button" (click)="startCall()" class="h-full px-2 hover:bg-gray-600">
                                    <i *ngIf="!this.isInCall" title="Start Call" class="fa-solid fa-check h-4 w-4 text-green-400"></i>
                                    <i *ngIf="this.isInCall" title="End Call" class="fa-solid fa-xmark h-4 w-4 text-red-400"></i>
                                </button>
                                <!-- <audio *ngIf="this.isInCall" id="audioPlaybackElement" autoplay="true" controls="false" class="bg-red-400"></audio> -->
                                <!-- <audio id="audioPlaybackElement" autoplay="true" controls="false" class="bg-red-400"></audio> -->
                            </div>
                        </div>
                        <div *ngIf="chatroom.chatrooms.isgroup">
                            <button type="button" (click)="showUsersForGroupChat()"
                                class="h-full px-2 bg-violet-200 text-black whitespace-nowrap text-ellipsis overflow-hidden hover:bg-violet-400">
                                {{this.groupChatParticipants.length === 0 ? "Show Users" : "Hide Users"}}
                            </button>
                            <app-group-chat-users [hideDropdown]="hideDropdown" [groupChatUsers]="groupChatParticipants"
                                [groupChatCreatedBy]="chatroom.chatrooms.created_by"
                                (removeUserFromGroupChat)="onRemoveParticipantFromGroupChat($event)"
                                (addUserToGroupChatEvent)="onAddParticipantToGroupChat($event)">
                            </app-group-chat-users>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-content-main overflow-y-auto">
            <app-chat id="chatWindowDiv" [setChatroom]="chatroom"></app-chat>
        </div>
        <!-- in case a footer component should be added, e.g. the chat-message form could be done here -->
        <!-- <div class="border border-pink-400 chat-content-footer">footer content</div> -->
    </div>
</div>