<div class="px-4 pb-8 clear-both">
    <fieldset class="register-fieldset text-left text-xl max-w-3xl min-w-max h-[420px] mx-auto mt-12 px-2 border border-violet-200 rounded-2xl">
        <!-- flex flex-col items-center -->
        <legend [align]="'center'" class="text-2xl px-4">Register to chatty</legend>

        <form ngNativeValidate [formGroup]="registrationFormGroup" (ngSubmit)="onRegistrationSubmit()"
            class="relative flex flex-col items-center w-full mb-0">
            <label for="username" class="w-64 sm:w-1/2 pt-8 pb-1 text-lg">Username</label>
            <input #username formControlName="usernameInput" required type="text" id="username"
                placeholder="Enter username..." name="username"
                class="register-input from-control w-64 sm:w-1/2 h-8 sm:h-12 px-2 rounded bg-transparent focus:outline-none whitespace-nowrap text-ellipsis overflow-hidden" />

            <p class="py-8"></p>

            <label for="password" class="w-64 sm:w-1/2 pt-2 pb-1 text-lg">Password</label>
            <input #password formControlName="passwordInput" required type="password" id="password"
                placeholder="Enter password..." name="password"
                class="register-input form-control w-64 sm:w-1/2 h-8 sm:h-12 px-2 rounded bg-transparent focus:outline-none whitespace-nowrap text-ellipsis overflow-hidden" />
            <button type="submit"
                class="form-control h-10 w-1/5 my-8 px-2 bg-violet-200 text-black rounded">Register</button>
            <p *ngIf="registrationErrorMessage" class="text-red-500">{{registrationErrorMessage}}</p>

            <br/>
            <div class="absolute bottom-0 right-0 pb-4 text-sm">
                Already have an account?
                <button type="button" routerLink="/login" class="text-blue-300"><b>Login!</b></button>
            </div>


        </form>
    </fieldset>
</div>
