<header class="min-w-[320px] h-10 pt-1 border-b border-violet-200">
    <div class="px-4">
        <div class="flex flex-auto justify-between space-x-4">
            <p class="pr-4 text-lg whitespace-pre">
                Logged in as:
                <b class="text-violet-200">{{ currentUserName }}</b>
            </p>
            <div class="flex space-x-4">
                <app-settings-menu class="z-50 text-lg md:text-xl"></app-settings-menu>
                <button
                    type="button"
                    (click)="logout()"
                    title="Logout"
                    class="h-fit text-2xl w-fit bg-violet-200 text-black rounded px-2 hover:bg-violet-400 fa-solid fa-arrow-right-from-bracket"
                ></button>
            </div>
        </div>
    </div>
</header>
