/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    background-color: rgb(26, 32, 44);
    // background-color: #0a0a0a;
}

.chat-tabs {
    background-color: rgb(20, 24, 31);
    // background-color: #141414;
}

.chat-content-main {
    // background-color: #100d10;
    // background-color: #1f1f1f;
}

html, .chat-scrollbar, .search-scrollbar {
    &::-webkit-scrollbar {
        width: 0.35rem;
    }

    &::-webkit-scrollbar-track {
        background: rgb(26, 32, 44);
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(112, 125, 151);
        border-radius: 0.5rem;
    }

    /* special firefox scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: rgb(112, 125, 151);
    scrollbar-track-color: rgb(26, 32, 44);
}

.login-input, .register-input {
    border: 1px solid rgb(44, 53, 71);
    background-color: rgb(44, 53, 71);

    &:hover {
        border: 1px solid rgb(81, 95, 119);
        // transition-timing-function: linear;
        transition: border 200ms;
    }

    &:focus {
        border: 1px solid rgb(53, 108, 219);
        // transition-timing-function: linear;
        transition: border 200ms;
        // transition-property: border;
        // transition-duration: 1s;
    }
}

.login-fieldset, .register-fieldset {
    // border: 1px solid rgb(53, 108, 219);
    border-bottom: 0;
}

.settings-menu-blur {
    background-color: rgba(0, 0, 0, 0.61);
    // background-color: rgb(20, 24, 31);
    backdrop-filter: blur(5px);
}

.settings-menu-window {
    background-color: rgb(20, 24, 31);
}