.form-element,
#emoteReactionButtons {
    background-color: rgb(20, 24, 31);
}

#emotesButton>.fa+.fa,
#emotesButton:hover>.fa {
    display: none;
}

#emotesButton:hover>.fa+.fa {
    display: inherit;
}

.bg-owndigo {
    background-color: #3a3c59;
}

.chat-participant-message {
    background-color: #363636;
}

#emoteReactionsContainer,
/*#messageContainer .deleteMessageButton*/
.deleteMessageButton {
    visibility: hidden;
}

#messageContainer:hover+#emoteReactionsContainer,
#emoteReactionsContainer:hover,
/*#messageContainer:hover .messageHeader .deleteMessageSpan .deleteMessageButton*/
#messageContainer:hover .deleteMessageButton {
    // display: flex;
    visibility: visible;
}