.form-element, #emoteReactionButtons {
    background-color: rgb(20, 24, 31);
}

#emotesButton > .fa + .fa,
#emotesButton:hover > .fa {
    display: none;
}

#emotesButton:hover > .fa + .fa {
    display: inherit;
}

.bg-owndigo {
    background-color: #3a3c59;
}

.chat-participant-message {
    background-color: #363636;
}

#emoteReactionsContainer {
    visibility: hidden;
}

#messageContainer:hover + #emoteReactionsContainer,
#emoteReactionsContainer:hover {
    // display: flex;
    visibility: visible;
}