<div class="chat-scrollbar text-left h-full overflow-y-auto">
    <div *ngFor="let message of chatroomMessages" class="chat-message-div pb-10 pt-2 px-2 sm:mb-4">
        <p class="w-fit max-w-md break-words text-ellipsis overflow-hidden px-2 py-1 rounded-lg"
            [class.mr-auto]="message.user_id !== currentUser.userId"
            [class.chat-participant-message]="message.user_id !== currentUser.userId"
            [class.ml-auto]="message.user_id === currentUser.userId" [class.bg-owndigo]="message.user_id === currentUser.userId">
            <span class="flex gap-4" [innerHTML]="populateMessageHeader(message)"></span>
            <span [innerHTML]="urlify(message.msg_content)"></span>
        </p>
    </div>
</div>
<app-emote-select [showEmotesMenu]="showEmotesMenu" (emoteSelectedEvent)="onEmoteSelect($event)"
    class="absolute bottom-0 right-0 w-full"></app-emote-select>
<div *ngIf="this.chatroomId !== -1" class="absolute bottom-0 w-full h-fit text-xs md:text-base">
    <form [formGroup]="formGroup" (ngSubmit)="sendMessage()" ngNativeValidate
        class="form-element mb-0 border-t-2 border-gray-700 h-full">
        <input id="messageInput" required formControlName="messageInput"
            class="bg-transparent w-[75%] h-full px-2 placeholder:text-violet-200 focus:outline-none whitespace-nowrap text-ellipsis overflow-hidden border-r-2 border-gray-700"
            placeholder="Write your message..." />
        <button type="button" id="emotesButton" class="w-[7.5%] h-full text-yellow-300"
            (click)="onEmoteMenu()">
            <i class="fa fa-solid fa-face-grin"></i>
            <i class="fa fa-solid fa-face-kiss"></i>
        </button>
        <button type="submit"
            class="w-[17.5%] h-full border-l-2 border-gray-700 text-violet-200 whitespace-nowrap text-ellipsis overflow-hidden z-40 hover:bg-gray-600">Send</button>
    </form>
</div>