<div class="chat-scrollbar text-left h-full overflow-y-auto">
    <div *ngFor="let message of chatroomMessages" class="chat-message-div pb-8 pt-2 px-2"
        [class.text-right]="message.user_id === currentUser.userId">
        <p class="w-fit max-w-md break-words text-ellipsis overflow-hidden px-2 border border-gray-200 rounded-xl"
            [class.mr-auto]="message.user_id !== currentUser.userId"
            [class.ml-auto]="message.user_id === currentUser.userId"><b>{{
                message.users.display_name}}:</b> {{ message.msg_content }}</p>
    </div>
</div>
<div *ngIf="this.chatroomId !== -1"
    class="absolute bottom-0 w-full h-4 md:h-7 border-t-2 rounded-lg border-violet-200 px-2 text-xs md:text-base">
    <form [formGroup]="formGroup" (ngSubmit)="sendMessage()" ngNativeValidate>
        <input required formControlName="messageInput"
            class="form-element absolute bottom-0 left-0 w-3/4 sm:w-10/12 h-4 md:h-7 border-t-2 border-violet-200 px-2 mt-2 focus:outline-none whitespace-nowrap text-ellipsis overflow-hidden"
            placeholder="Write your message..." />
        <button type="submit"
            class="form-element absolute bottom-0 right-0 w-1/4 sm:w-1/6 h-4 md:h-7 border-l-2 border-t-2 border-violet-200 text-violet-200 whitespace-nowrap text-ellipsis overflow-hidden z-40">Send</button>
    </form>
</div>